
*.csproj

Library/AnnotationManager

Library/assetDatabase3

Library/AssetImportState

Library/AssetServerCacheV3

Library/AssetVersioning.db

*.prefs

*.asset

*.dwlt

Library/expandedItems

Library/LibraryFormatVersion.txt

Library/metadata/00/00000000000000001000000000000000

Planar-csharp.sln

Planar.sln

ProjectSettings/ProjectVersion.txt
